 .count {
    position: absolute;
    right: 85.5%;
    top: 15%;
    font-size: 11px;
    border-radius: 50%;
    background: #d60b28;
    width: 16px;
    height: 16px;
    line-height:16px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }